<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-button expand="full" [routerLink]="['/all-annonces']" > All Annonces</ion-button>
      <ion-button expand="full" [routerLink]="['/annonce']"> My Annonces</ion-button>
      <ion-button expand="full"  [routerLink]="['/add-annonce']" >Add New Annonce</ion-button>
    </ion-content>
    <ion-button expand="full" fill="clear" [routerLink]="['']" >Logout</ion-button>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>All Annonces</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-card *ngFor="let annonce of allannonces"  [routerLink]="['/one-annonce', annonce.id]">
        <ion-row>
          <!-- Image on the right -->
          <ion-col size="4">
            <ion-img src="../../assets/icon/favicon.png"></ion-img>
          </ion-col>

          <!-- Title, price, and description on the left -->
          <ion-col size="8">
            <ion-card-header>
              <ion-card-title>{{ annonce.title }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p class="price">{{ annonce.price }}</p>
              <p class="Category">{{ annonce.category }}</p>
              {{ annonce.description }}
              <p class="username">Posted by:  {{annonce.user}} </p>
              <p class="date">Posted on: {{ annonce.date | date:'shortDate'}}</p>
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-content>
  </div>
</ion-app>
