<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-button expand="full" [routerLink]="['/all-annonces']" > All Annonces</ion-button>
      <ion-button expand="full" [routerLink]="['/annonce']"> My Annonces</ion-button>
      <ion-button expand="full"  [routerLink]="['/add-annonce']" >Add New Annonce</ion-button>
    </ion-content>
    <ion-button expand="full" fill="clear" [routerLink]="['']" >Logout</ion-button>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>My Profile</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-item>
        <ion-avatar slot="start">
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>{{ userProfile.username }}</ion-label>
      </ion-item>
      <ion-list>
        <ion-item>
          <ion-label>Username</ion-label>
          <ion-text>{{ userProfile.telephone }}</ion-text>
        </ion-item>

        <ion-item>
          <ion-label>Email</ion-label>
          <ion-text>{{ userProfile.email }}</ion-text>
        </ion-item>

        <ion-item>
          <ion-label>Number of Posts</ion-label>
          <ion-text>{{ userProfile.numPosts }}</ion-text>
        </ion-item>
      </ion-list>

     </ion-content>
  </div>
</ion-app>
